<div class="shopping-cart-notice-wrapper">
    <a href="{{url}}">{{#pix}}cart, block_mootivated{{/pix}}<span class="shopping-cart-qty">{{quantity}}</span> {{#str}}cart, block_mootivated{{/str}}</a>
</div>
