<div class="mootivated-wallet">
    <div class="pic">
        <img src="{{pointsimageurl}}" alt="{{pointsterm}}">
    </div>
    <div class="coins">
        {{! The coins must already be formatted to include the decimal places }}
        <div class="amount">{{coins}} {{pointsterm}}</div>
    </div>
</div>
