.mootivated-wallet {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: -10px;

    .pic {
        justify-content: center;
        margin: 0 0.5rem;
        margin-top: 10px;
        img {
            height: 60px;
        }
    }

    .coins {
        align-self: center;
        margin-top: 10px;
    }

    .amount {
        font-size: 150%;
        font-weight: bold;
        white-space: nowrap;
    }

    .legend {
        font-size: 85%;
        color: #666;
    }
}

.block_mootivated {
    .mootivated-avatar {
        width: 512px;
        height: auto;
        max-width: 100%;
        margin-bottom: 1em;
    }

    nav {
        text-align: center;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-align-content: stretch;
        -ms-flex-line-pack: stretch;
        align-content: stretch;
        -webkit-align-items: stretch;
        -ms-flex-align: stretch;
        align-items: stretch;
        margin-top: 1em;

        .nav-button {
            -webkit-flex: 1;
            -ms-flex: 1;
            flex: 1;
            -webkit-align-self: auto;
            -ms-flex-item-align: auto;
            align-self: auto;
            text-decoration: none;
            color: #333;
            font-size: 80%;
            padding: 5px 5px 0;

            .icon {
                margin: 0;
                padding: 0;
            }

            .icon,
            .smallicon {
                width: 16px;
                height: 16px;
            }

            &:hover {
                background: #eee;
            }
        }
    }
}

.block_mootivated-page-nav {
    position: relative;

    .icon,
    .smallicon {
        width: 16px;
        height: 16px;
    }

    .nav-tools-wrapper {
        position: absolute;
        right: 0;
        display: flex;
        align-items: center;
    }

    .shopping-cart-notice-wrapper {
        margin: 0 1em;
        border-right: 1px solid #dee2e6;
        padding-right: 1em;

        a {
            padding: 4px 8px;
            display: block;

            &:hover {
                background-color: #efefef;
            }
        }
    }
}

.block_mootivated-items-list {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -1em;
    .item-wrapper {
        display: flex;
        padding: 1em 1em 0;
        flex: 1 1 100%;
    }
    .item-content {
        display: flex;
        padding-bottom: 1em;
        border-bottom: 1px solid #eee;
        flex: 1;

        h4 {
            margin-top: 0;
        }
    }

    .item-footer {
        display: flex;
        justify-content: space-between;
    }

    .item-image {
        margin-right: 1em;
        position: relative;
        align-self: flex-start;
        img {
            max-width: 100px;
        }
    }

    .item-soldout-marker {
        display: none;
        img {
            height: 60px;
            width: auto;
            max-height: 100%;
        }
    }

    .item-soldout {
        .item-soldout-marker {
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .item-image {
            a > img {
                opacity: 0.5;
            }
        }
    }

    .item-information {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        min-width: 130px;
    }

    .item-side {
        margin-left: 1em;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-end;

        .variant-select {
            max-width: 100px;
        }

        .buy-action {
            display: flex;

            button {
                margin-left: 1em;

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .icon,
        .smallicon {
            width: 16px;
            height: 16px;
        }
    }
}

.block_mootivated-shopping-cart {

    table td { vertical-align: middle; }

    .line-name {
        img {
            width: 50px;
            margin-right: .5em;
        }
    }

    .line-cost {
        width: 70px;
    }

    .line-qty {
        width: 90px;
        input {
            max-width: 90px;
        }
    }

    .line-total {
        width: 100px;
        text-align: right;
    }

    .actions {
        display: flex;
        justify-content: space-between;
    }

    .total {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        font-size: large;
    }
}

.block_mootivated-redemption-request {
    textarea {
        width: 100%;
        margin: 0;
        box-sizing: border-box;
    }
    .actions {
        display: flex;
        margin: 1em 1em 0;
        justify-content: center;
    }
}

.block_mootivated-leaderboard {
    table td {
        vertical-align: middle !important;
    }
    .col-rank {
        width: 50px;
    }
    .col-coins {
        width: 100px;
    }
}

.block_mootivated-place-auction-bid {
    td {
        text-align: right !important;
    }
    input.bid-amount {
        text-align: right;
        max-width: 8em;
        margin: 0;
        display: inline-block;
    }
    .bid-actions {
        display: flex;
        justify-content: space-between;
    }
    .notes {
        margin: 1em 0 0;
    }
}

.block_mootivated-purchase-confirmation {
    .confirmation-actions {
        margin: 1em 0 0;
        display: flex;
        justify-content: space-between;
    }
}

.block_mootivated-image-popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, .8);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

    .wrapper {
        background: white;
        height: 800px;
        width: 800px;
        min-width: 100px;
        min-height: 100px;
        max-width: 95%;
        max-height: 95%;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 1em;
        flex-direction: column;
        position: relative;
    }

    .close {
        position: absolute;
        padding: 15px;
        top: 0;
        right: 0;
        line-height: 16px;
        .icon {
            margin: 0;
        }
    }

    .image {
        display: none;
        max-width: 100%;
        max-height: 100%;
        height: auto;
    }
}

.block_mootivated-scrolllock {
    overflow: hidden;
}
